[submodule "FASE 2/Evidencias Proyecto/MyGoalFinance-Front"]
	path = FASE 2/Evidencias Proyecto/MyGoalFinance-Front
	url = https://github.com/KurtWelter/MyGoalFinance-Front.git
	branch = main
[submodule "FASE 2/Evidencias Proyecto/MyGoalFinance-Backend"]
	path = FASE 2/Evidencias Proyecto/MyGoalFinance-Backend
	url = https://github.com/KurtWelter/MyGoalFinance-Backend.git
	branch = main
[submodule "FASE 2/Evidencias Proyecto/MyGoalFinance-DB"]
	path = FASE 2/Evidencias Proyecto/MyGoalFinance-DB
	url = https://github.com/KurtWelter/MyGoalFinance-DB.git
	branch = main
